.ant-menu-title-content a {
  display: block;
  margin: 0 -16px;
  padding: 0 16px;
}
.ant-menu-title-content a.active {
  color: #fff;
  background-color: #1677ff;
}
.content {
  padding: 0 20px;
  box-sizing: border-box;
}
.vh-content {
  overflow: hidden;
  height: calc(100% - 129px);
}
